<h1> Deck name: <%= @deck.title %> </h1>

<div class="buttons">
  <form method="post" action="/rounds/<%= @round.id %>">
    <input type="hidden" name="card" value="<%= @card.id %>" />
    <input type="hidden" name="is_correct" value="<%=true%>" />
    <input type="submit" value="Got It!" />
  </form>
</div>

<div>
  <form method="post" action="/rounds/<%= @round.id %>">
    <input type="hidden" name="card" value="<%= @card.id %>" />
    <input type="hidden" name="is_correct" value="<%=false %>" />
    <input type="submit" value="Not Yet!" />
  </form>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class='front'>
      <h1> <%= @card.question %> </h1>
    </div>

    <div class='back'>
      <h1> <%= @card.answer %> </h1>
    </div>
  </div>
</div>

